.THIS {
    width: 100%;
    position: fixed;
    transform: scaleX(1) translateZ(0);
    transform-origin: 50% 0;
}
.THIS.ccc {
    transform: scaleX(0) translateZ(0);
    transition: transform 0.3s;
}