/* .THIS .bin{
    background: #ccc;
} */
.THIS .card-container{
    border: 1px solid #ececec;
    border-radius: 5px;
    position: relative;
}
.THIS .card-heading{
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    display: inline-flex;
}